.header {
    background-color: var(--color-bg-secondary);
    padding: 15px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo_rival {
        height: 100%;
        img {
            height: 70px;
        }
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 50px;
        list-style: none;

        @media (width <= $breakpoint-sm) {
            display: none;
        }
    }

    .icone {
        display: none;
        color: var(--color-white);

        @media (width <= $breakpoint-sm) {
            display: block;
        }
    }
}
