.section {
    padding: 100px 0;
    text-align: center;
}

.accueil__cartes {
    .cartes {
        margin: 100px 0;
    }

    img {
        position: relative;
        border-radius: 18px;
        width: 25%;
        object-fit: cover;
    }

    .pivot__gauche {
        transform: rotate(-10deg) translateX(50px) translateY(35px);
    }

    .pivot__droite {
        transform: rotate(10deg) translateX(-50px) translateY(35px);
    }
}

.accueil__produits {
    background-color: var(--color-bg-secondary);
    .produits {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 60px 0;
        img {
            height: 275px;
        }

        @media (width <= $breakpoint-sm) {
            flex-direction: column;
            gap: 50px;
        }
    }
}

.accueil__contexte {
    .contexte__content {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;

        @media (width <= $breakpoint-md) {
            flex-direction: column;
            gap: 50px;
        }
    }

    p {
        width: 50%;

        @media (width <= $breakpoint-md) {
            align-self: start;
            padding-left: 50px;
            width: 100%;
        }
    }

    img {
        height: 260px;
        width: 32.5%;
        object-fit: cover;
        border: 3px solid var(--color-secondary);
        border-radius: 10px;

        @media (width <= $breakpoint-md) {
            width: 80%;
        }
    }
}

.carousels__cartes {
    .carousel {
        margin: 100px 0;
    }
}
