/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #c62828;
    --color-secondary: #d4af37;
    --color-bg-primary: #111111;
    --color-bg-secondary: #1c1c1c;
}
