{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/bg_hero_cartes.jpg" alt="background cartes" />
        </div>
        <div class="hero__content">
            <div class="hero__titre">
                <h1>Les Cartes</h1>
            </div>
            <p>Découvrer les cartes qui composent l’entièreté de Destined Rivals.</p>
        </div>
    </div>
</section>

<section class="a__propos">
    <div class="wrapper">
        <div class="a__propos__content">
            <h2>QU’est-ce qui est spéciale de ces cartes?</h2>
            <p>
                Certaines cartes de Destined Rivals se démarquent par leur rareté et leurs illustrations alternatives. Les Special Illustration Rares et autres
                cartes recherchées présentent notamment des scènes uniques mettant en valeur les Pokémon et leurs Dresseurs.
            </p>
        </div>
        <div class="a__propos__media">
            <img src="assets/images/team_rocket_logo.jpg" alt="Team Rocket Logo" />
        </div>
    </div>
</section>

<section class="carousel_cartes">
    <div class="wrapper">
        <h2>Cartes communs</h2>
        <div class="carousel">
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/team_rocket_zapdos_common.png" alt="Zapdos" />
                </div>
                <div class="carte__content">
                    <h3>Team Rocket's Zapdos</h3>
                    <p>DRI #070</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/ethan_pinsir_common.png" alt="Pinsir" />
                </div>
                <div class="carte__content">
                    <h3>Ethan's Pinsir</h3>
                    <p>DRI #001</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/ethan_typhlosion_common.png" alt="Typhlosion" />
                </div>
                <div class="carte__content">
                    <h3>Ethan's Typhlosion</h3>
                    <p>DRI #034</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/team_rocket_tyranitar_common.png" alt="Tyranitar" />
                </div>
                <div class="carte__content">
                    <h3>Team Rocket's Tyranitar</h3>
                    <p>DRI #096</p>
                </div>
            </div>
        </div>
        <h2>Illustration Rares</h2>
        <div class="carousel">
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/team_rocket_murkrow.png" alt="Murkrow" />
                </div>
                <div class="carte__content">
                    <h3>Team Rocket's Murkrow</h3>
                    <p>DRI #200</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/misty_psyduck.png" alt="Psyduck" />
                </div>
                <div class="carte__content">
                    <h3>Misty's Psyduck</h3>
                    <p>DRI #193</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/cynthia_roserade.png" alt="Roserade" />
                </div>
                <div class="carte__content">
                    <h3>Cynthia's Roserade</h3>
                    <p>DRI #184</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/ethan_typhlosion.png" alt="Typhlosion" />
                </div>
                <div class="carte__content">
                    <h3>Ethan's Typhlosion</h3>
                    <p>DRI #190</p>
                </div>
            </div>
        </div>
        <h2>Full Arts (Ultra Rare)</h2>
        <div class="carousel">
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/team_rocket_persian_fa.png" alt="Persian" />
                </div>
                <div class="carte__content">
                    <h3>Team Rocket's Persian</h3>
                    <p>DRI #219</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/team_rocket_giovanni_fa.png" alt="Giovanni" />
                </div>
                <div class="carte__content">
                    <h3>Team Rocket's Giovanni</h3>
                    <p>DRI #225</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/ethan_adventure_fa.png" alt="Ethan" />
                </div>
                <div class="carte__content">
                    <h3>Ethan's Adventure</h3>
                    <p>DRI #221</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/team_rocket_mewtwo_fa.png" alt="Mewtwo" />
                </div>
                <div class="carte__content">
                    <h3>Team Rocket's Mewtwo</h3>
                    <p>DRI #213</p>
                </div>
            </div>
        </div>
        <h2>Special Illustration Rares</h2>
        <div class="carousel">
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/team_rocket_moltres.png" alt="Moltres" />
                </div>
                <div class="carte__content">
                    <h3>Team Rocket's Moltres</h3>
                    <p>DRI #229</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/team_rocket_giovanni.png" alt="Giovanni" />
                </div>
                <div class="carte__content">
                    <h3>Team Rocket's Giovanni</h3>
                    <p>DRI #238</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/team_rocket_nidoking.png" alt="Nidoking" />
                </div>
                <div class="carte__content">
                    <h3>Team Rocket's Nidoking</h3>
                    <p>DRI #233</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/team_rocket_mewtwo_sir.jpg" alt="Mewtwo" />
                </div>
                <div class="carte__content">
                    <h3>Team Rocket's Mewtwo</h3>
                    <p>DRI #231</p>
                </div>
            </div>
        </div>
        <h2>Gold (Hyper Rare)</h2>
        <div class="carousel">
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/levincia_gold.png" alt="Levincia" />
                </div>
                <div class="carte__content">
                    <h3>Levincia</h3>
                    <p>DRI #244</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/team_rocket_crobat_gold.png" alt="Crobat" />
                </div>
                <div class="carte__content">
                    <h3>Team Rocket's Crobat</h3>
                    <p>DRI #242</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/cynthia_grachomp_gold.jpg" alt="Garchomp" />
                </div>
                <div class="carte__content">
                    <h3>Cynthia's Garchomp</h3>
                    <p>DRI #241</p>
                </div>
            </div>
            <div class="carte">
                <div class="carte__media">
                    <img src="assets/images/team_rocket_mewtwo_gold.png" alt="Mewtwo" />
                </div>
                <div class="carte__content">
                    <h3>Team Rocket's Mewtwo</h3>
                    <p>DRI #240</p>
                </div>
            </div>
        </div>
        <a href="" class="bouton">Voir plus de cartes</a>
    </div>
</section>

{% include "_partials/_footer.html" %}
