{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/bg_chase_cards.jpg" alt="background chase cards" />
        </div>
        <div class="hero__desktop"></div>
        <div class="hero__content">
            <div class="hero__titre">
                <h1>Les "Chase cards"</h1>
            </div>
            <p>Suivez les “chase cards” qui sont très recherchées pas juste par nos membres, mais par des collectionneurs aussi.</p>
        </div>
    </div>
</section>

<section class="a__propos">
    <div class="wrapper">
        <div class="a__propos__content">
            <h2>Pourquoi aussi rechercher?</h2>
            <p>
                Les Chase Cards sont parmi les cartes les plus convoitées d’une collection. Leur rareté, leurs illustrations uniques et leur popularité auprès
                des collectionneurs les rendent particulièrement difficiles à obtenir. Certaines cartes deviennent rapidement des pièces maîtresses d’un
                ensemble, attirant autant les collectionneurs cherchant à compléter leur collection que ceux à la recherche d’une carte exceptionnelle.
            </p>
        </div>
        <div class="a__propos__media">
            <img src="assets/images/team_rocket_logo.jpg" alt="Team Rocket Logo" />
        </div>
    </div>
</section>

<section class="chase_cards">
    <div class="wrapper">
        <div class="cartes_chasses">
            <div class="carte_chasse">
                <div class="carte_chasse_content">
                    <h2>Team Rocket's Mewtwo ex #231</h2>
                    <p>
                        Une arme psychique redoutable de la Team Rocket. Cette illustration capture Mewtwo dans toute sa puissance, au cœur d'une expérience aux
                        intentions inquiétantes.
                    </p>
                    <a
                        href="https://app.getcollectr.com/explore/product/633031/pokemon-destined-rivals-team-rocket-s-mewtwo-ex-231-182"
                        target="_blank"
                        class="bouton"
                    >
                        Plus en détail →
                    </a>
                </div>
                <div class="carte_chasse_media">
                    <img src="assets/images/team_rocket_mewtwo_sir.png" alt="Mewtwo" />
                </div>
            </div>

            <div class="carte_chasse">
                <div class="carte_chasse_media">
                    <img src="assets/images/cynthia_grachomp_sir.png" alt="Garchomp" />
                </div>
                <div class="carte_chasse_content">
                    <h2>Cynthia's Garchomp ex #232</h2>
                    <p>
                        Le fidèle partenaire de Cynthia déploie toute sa puissance. Une représentation imposante de Garchomp, symbole de la maîtrise et de la
                        détermination de sa Dresseuse.
                    </p>
                    <a
                        href="https://app.getcollectr.com/explore/product/633032/pokemon-destined-rivals-cynthia-s-garchomp-ex-232-182"
                        target="_blank"
                        class="bouton"
                    >
                        Plus en détail →
                    </a>
                </div>
            </div>

            <div class="carte_chasse">
                <div class="carte_chasse_content">
                    <h2>Ethan's Ho-Oh ex #230</h2>
                    <p>
                        Un Pokémon légendaire associé à l'espoir et à la renaissance. Ho-Oh s'élève majestueusement dans une illustration aux couleurs
                        éclatantes.
                    </p>
                    <a
                        href="https://app.getcollectr.com/explore/product/633030/pokemon-destined-rivals-ethan-s-ho-oh-ex-230-182"
                        target="_blank"
                        class="bouton"
                    >
                        Plus en détail →
                    </a>
                </div>
                <div class="carte_chasse_media">
                    <img src="assets/images/ethan_hooh.png" alt="Ho-Oh" />
                </div>
            </div>
        </div>
        <a href="https://app.getcollectr.com/sets/category/3/destined-rivals?groupId=24269&cardType=cards" target="_blank" class="bouton">
            Voir plus de cartes
        </a>
    </div>
</section>

{% include "_partials/_footer.html" %}
