{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/bg_hero_accueil.jpg" alt="accueil background" />
        </div>
        <div class="hero__content">
            <div class="hero__titre">
                <h1>Project: Rival</h1>
                <h2>L'archive ultime de Destined Rivals</h2>
            </div>
            <p>Découvrez les cartes, les produits et les raretés qui composent l'une des collections les plus convoitées du TCG Pokémon.</p>
            <div class="hero__boutons">
                <a href="" class="bouton">Rechercher les cartes</a>
                <a href="" class="bouton">Rechercher les produits</a>
            </div>
        </div>
    </div>
</section>

<section class="a__propos">
    <div class="wrapper">
        <div class="a__propos__content">
            <h2>Qu’est-ce que “Destined Rivals”?</h2>
            <p>
                Destined Rivals est une extension du jeu de cartes à collectionner Pokémon mettant en vedette la Team Rocket et plusieurs Dresseurs
                emblématiques. L’ensemble explore la rivalité entre ces personnages à travers de nouvelles cartes et illustrations.
            </p>
        </div>
        <div class="a__propos__media">
            <img src="assets/images/team_rocket_logo.jpg" alt="Team Rocket Logo" />
        </div>
    </div>
</section>

<section class="accueil__cartes">
    <div class="wrapper">
        <h2>Les types de cartes</h2>
        <div class="cartes">
            <img src="assets/images/team_rocket_giovanni_fa.png" alt="Team Rocket's Giovanni Full Art" />
            <img src="assets/images/team_rocket_nidoking.png" alt="Team Rocket's Nidoking Special Illustration Rare" />
            <img src="assets/images/team_rocket_murkrow.png" alt="Team Rocket's Murkrow Illustration Rare" />
        </div>
        <a href="" class="bouton">Voir les cartes</a>
    </div>
</section>

<section class="accueil__produits">
    <div class="wrapper">
        <h2>Les produits</h2>
        <div class="produits">
            <img src="assets/images/etb_dri.png" alt="Elite Trainer Box" />
            <img src="assets/images/booster_box_dri.png" alt="Booster Box" />
            <img src="assets/images/pc_etb_dri.png" alt="Pokemon Center Elite Trainer Box" />
        </div>
        <a href="" class="bouton">Voir les produits</a>
    </div>
</section>

<section class="accueil__contexte">
    <div class="wrapper">
        <h2>Une rivalité emblématique</h2>
        <div class="contexte__content">
            <p>
                Destined Rivals oppose la Team Rocket à plusieurs Dresseurs emblématiques de l’univers Pokémon. D’un côté, l’ambition et le pouvoir de la Team
                Rocket; de l’autre, la détermination des Dresseurs et leur lien avec leurs Pokémon. Chaque affrontement illustre cette lutte entre deux forces
                opposées.
            </p>
            <img src="assets/images/bg_context.jpg" alt="Les dresserurs en vedette" />
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
