{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/bg_produits.jpg" alt="background produits" />
        </div>
        <div class="hero__content">
            <div class="hero__titre">
                <h1>Les produits</h1>
            </div>
            <p>Explorer les produits de Destined Rivals qui peuvent être retrouvés.</p>
        </div>
    </div>
</section>

<section class="a__propos">
    <div class="wrapper">
        <div class="a__propos__content">
            <h2>QU’est-ce qu”ils contiennent?</h2>
            <p>
                Les produits contiennent des cartes et différents accessoires selon leur format. Les booster packs offrent des cartes aléatoires, tandis que les
                ETB et collections peuvent inclure des cartes promotionnelles, des protège-cartes, des dés et d’autres accessoires.
            </p>
        </div>
        <div class="a__propos__media">
            <img src="assets/images/team_rocket_logo.jpg" alt="Team Rocket Logo" />
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
