{% include "_partials/_header.html" %}

<section class="hero">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/bg_produits.jpg" alt="background produits" />
        </div>
        <div class="hero__desktop"></div>
        <div class="hero__content">
            <div class="hero__titre">
                <h1>Les produits</h1>
            </div>
            <p>Explorer les produits de Destined Rivals qui peuvent être retrouvés.</p>
        </div>
    </div>
</section>

<section class="a__propos">
    <div class="wrapper">
        <div class="a__propos__content">
            <h2>QU’est-ce qu”ils contiennent?</h2>
            <p>
                Les produits contiennent des cartes et différents accessoires selon leur format. Les booster packs offrent des cartes aléatoires, tandis que les
                ETB et collections peuvent inclure des cartes promotionnelles, des protège-cartes, des dés et d’autres accessoires.
            </p>
        </div>
        <div class="a__propos__media">
            <img src="assets/images/team_rocket_logo.jpg" alt="Team Rocket Logo" />
        </div>
    </div>
</section>

<section class="section carousels__produits">
    <div class="wrapper">
        <div class="swiper" data-component="Carousel">
            <h2>Des produits "Destined Rivals"</h2>
            <div class="carousel swiper-wrapper">
                <div class="swiper-slide">
                    <div class="carte">
                        <div class="carte__media">
                            <img src="assets/images/booster_box_dri.png" alt="Booster Box" />
                        </div>
                        <div class="carte__content">
                            <h3>Booster Box</h3>
                            <p>36 booster packs</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="carte">
                        <div class="carte__media">
                            <img src="assets/images/etb_dri.png" alt="Elite Trainer Box" />
                        </div>
                        <div class="carte__content">
                            <h3>Elite Trainer Box</h3>
                            <p>9 booster packs</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="carte">
                        <div class="carte__media">
                            <img src="assets/images/3pack_blister_dri.png" alt="3-pack blister" />
                        </div>
                        <div class="carte__content">
                            <h3>3-pack blister</h3>
                            <p>3 booster packs</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="carte">
                        <div class="carte__media">
                            <img src="assets/images/build_battle_dri.png" alt="Build & Battle Box" />
                        </div>
                        <div class="carte__content">
                            <h3>Build & Battle Box</h3>
                            <p>4 booster packs</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="carte">
                        <div class="carte__media">
                            <img src="assets/images/pc_etb_dri.png" alt="Pokemon Center Elite Trainer Box" />
                        </div>
                        <div class="carte__content">
                            <h3>PC Elite Trainer Box</h3>
                            <p>11 booster packs</p>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="carte">
                        <div class="carte__media">
                            <img src="assets/images/booster_bundle_dri.png" alt="Booster Bundle" />
                        </div>
                        <div class="carte__content">
                            <h3>Booster Bundle</h3>
                            <p>6 booster packs</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>

{% include "_partials/_footer.html" %}
